<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="script">
    <script src="/assets/jquery/v3.6.1/jquery-3.6.1.min.js"></script>
    <script src="/assets/bootstrap/v5.2/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/fontawesome/v6.2.0/js/all.min.js"></script>
    <script src="/assets/sweetalert2/sweetalert2.min.js"></script>
    <script src="/assets/jquery-validate/1.19.3/jquery.validate-1.19.3.min.js"></script>
    <script src="/assets/izitoast/dist/js/iziToast.min.js"></script>
    <script src="/assets/js/validate.js"></script>
</th:block>